---
Checks: >
  readability-*,
  cppcoreguidelines-*,
  clang-analyzer-*,
  bugprone-*,
  modernize-*,
  performance-*,
  misc-*,
  portability-*,
  -bugprone-easily-swappable-parameters,
  -readability-math-missing-parentheses,
  -readability-uppercase-literal-suffix,
  -readability-identifier-length,
  -modernize-use-trailing-return-type,
  -cppcoreguidelines-avoid-c-arrays,
  -*-magic-numbers
